#newsbox {
    float: left;
    height: 262px;
    width: 750px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.thumb_box_NEWSSTAND {
    display: block;
    text-align: center;
    padding: 23px 0 22px;
    border: 1px solid #E4E8EB;
    float: left;
    width: 123px;
    height: 66px;
    box-sizing: border-box;
}